{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if page == 'login' %}
        Login
    {% else %}
        Register
    {% endif %}
{% endblock %}

{% block content %}
    {% if page == 'login' %}
        <div class="form-box">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="username" class="form-label">username :</label>
                <input type="text" name="username" class="form-control">
                <label for="password" class="form-label">password :</label>
                <input type="password" name="password" class="form-control">

                <input type="submit" class="btn btn-success my-2" value="Login">
            </form>
            <p>don't have an account ? <a  href="{% url 'register' %}">Register</a></p>
        </div>
    {% else %}
        <div class="form-box">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success my-2" value="Register">
            </form>
            <p>don't have an account ? <a  href="{% url 'login' %}">Login</a></p>

        </div>
    {% endif %}
{% endblock %}
