{% extends 'base.html' %}
{% load static %}

{% block title %}
    Team Information
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Team Information</h1>
            <hr>
            {% if msg %}
                <p>{{ msg }}</p>
                <a class="btn btn-success" href="{% url 'create-team' %}">Create a Team</a>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Team Name: {{ team.name }}</h5>
                        <p class="card-text">Description: {{ team.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Team Leaders:</h6>
                        <ul>
                            {% for leader in team_leaders %}
                                <li>{{ leader }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
